.section-footer
    background: linear-gradient(0deg, rgba($color-brown-light,0.7 ) 0.03%, rgba(1,1,1, 0.7 )99.94%)
    width: 100%
    min-height: 55rem 
    &__container
        padding: 12rem 2rem 0 12rem
        @include screen(tab-port)
            padding: 3rem 0 0 0 
            display: flex
            flex-direction: column 
            align-items: center
    &__contacts
        display: flex
        align-items: center
        justify-content: space-between
        @include screen(tab-port)
            flex-direction: column
            gap: 3rem

.social,.navigate
    color: #fff
    font-size: 2rem
    display: flex
    gap: 3rem
    cursor: pointer

.navigate
    &__item a
        transition: all .5s
        &:hover
            transition: .5s
            color: $color-brown-dark
.social
    position: relative
    &__items
        display: flex
        gap: 1rem
    &__item
        overflow: hidden
        border-radius: 50%
        height: 38px
        transition: all .5s
        &:hover
            transition: .5s
            background: #c9b099
    &__video-bg
        position: absolute
        top: -20rem
        left: 50%
        width: 15rem
        height: 14rem
        border-radius: 50%
        -o-object-fit: cover
        object-fit: cover
        transform: translateX(-50%)
        @include screen(tab-port)
            display: none
    &::after
        content: ''
        position: absolute
        top: -20rem
        left: 50%
        width: 15rem
        height: 14rem
        transform: translateX(-50%)
        background: linear-gradient(180deg, rgba(153, 94, 49, 0.522) 0.03%, rgba(19, 19, 19, 0.5) 99.94%)
        // background: rgba(0,0 ,0 ,0.3 )
        z-index: 1000
        border-radius: 50%
        box-shadow: 1px 2px 4px rgb(5 5 5 / 52%)
        @include screen(tab-port)
            display: none