// css-variables 
$color-white: #ffff
$color-black: #000
$color-gray: #777777
$color-brown-light: #BA8554
$color-brown-dark: #A14F03
$color-gray-dark: #584f42
$text-shadow-dark: 1rem 1.4rem 1rem rgba(0,0,0,.35)
$box-shadow: 0rem .1rem .4rem #000
//text
$text-size: 1.6rem
