.btn_arrow
    &:link,&:visited
        text-decoration: none
        color: $color-gray
        letter-spacing: .2rem
        padding: 1rem
        border-bottom: solid .1rem $color-gray
        display: inline-block
        transition: .2s all
        font-weight: 700
    &:hover
        border-radius: .3rem
        color: $color-white
        background: $color-brown-light
        box-shadow: 0px 1px 4px $color-black
    &:active
        transform: scale(1.05)
