.card-feedback
    width: 75%
    background: #fff
    padding: 4rem
    transform: skewX(330deg)
    box-shadow: 1rem 2rem 4rem #2b2929
    z-index: 10001
    @include screen(tab-port)
        width: 100%
        transform: skewX(356deg)
        flex-direction: column
        align-items: center
        display: flex
        gap: 5rem
    &>*
        transform: skewX(-330deg)
        @include screen(tab-port)
            transform: skewX(-350deg)
    &__photo
        position: relative
        float: left
        width: 15rem
        height: 15rem
        shape-outside: circle(50%)
        border-radius: 100rem
        -webkit-shape-outside: circle(50%)
        margin-right: 4rem
        &::after
            content: ''
            clear: both
        img

            height: 100%
            transform: scale(1.1)
            transition: .3s all
    &__text
        text-align: left
        @include screen(tab-port)
            text-align: center
    &__name
        opacity: 0
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
        text-align: center
        color: $color-white
        transition: .3s all
        text-transform: uppercase
    &__description
        font-size: 1.9rem
    &:hover &__name
        z-index: 1000
        opacity: 1
    &:hover  &__photo img
        filter: blur(.4rem)
        transform: scale(1)
