.description
    font-size: $text-size
    font-weight: 400
    letter-spacing: .2rem
    line-height: 140%
    color: $color-gray
    @include screen(tab-port)
        font-size: 2rem
    @include screen(phone)
        font-size: 1.6rem
